body{
    margin:0;
    font-family:Tahoma, Arial;
    direction:rtl;
    background:#f4f6f9;
}

header{
    background:#1565c0;
    color:white;
    padding:20px;
    text-align:center;
}

nav{
    background:#0d47a1;
    padding:10px;
    text-align:center;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{
    color:#ffeb3b;
}

.container{
    width:90%;
    margin:auto;
    padding:20px;
}

.card{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

footer{
    background:#1565c0;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:30px;
}

.btn{
    background:#1565c0;
    color:white;
    padding:10px 20px;
    border-radius:5px;
    text-decoration:none;
}
